.main-header-wrapper {
  top: 0;
  width: 100%;
  height: 80px;
  display: flex;
  padding: 15px;
  margin: 0 auto;
  position: relative;
  background-color: #303030;
  box-shadow: 0 2px 5px #000;
  .main-header-logo {
    color: #fff;
    display: flex;
    font-size: 3em;
    align-self: center;
    color: rgb(0, 255, 0);
    font-family: 'VT323', monospace;
  }
}
