.main-header-wrapper {
  position: relative;
  top: 0;
  width: 100%;
  height: 80px;
  margin: 0 auto;
  background: #009BEC;
  box-shadow: 0 5px 10px #000;
}

// Add .effect class to "main-header-wrapper" for different boxshadow
// .effect {
//   position: relative;
// }

// .effect:before,
// .effect:after {
//   z-index: -1;
//   position: absolute;
//   content: "";
//   bottom: 15px;
//   left: 10px;
//   width: 50%;
//   top: 80%;
//   max-width: 300px;
//   background: #777;
//   -webkit-box-shadow: 0 15px 10px #000;
//   -moz-box-shadow: 0 15px 10px #000;
//   box-shadow: 0 15px 10px #000;
//   -webkit-transform: rotate(-3deg);
//   -moz-transform: rotate(-3deg);
//   -o-transform: rotate(-3deg);
//   -ms-transform: rotate(-3deg);
//   transform: rotate(-3deg);
// }

// .effect:after {
//   -webkit-transform: rotate(3deg);
//   -moz-transform: rotate(3deg);
//   -o-transform: rotate(3deg);
//   -ms-transform: rotate(3deg);
//   transform: rotate(3deg);
//   right: 10px;
//   left: auto;
// }
