.main-body-wrapper {
  width: 100%;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  flex-direction: column;
  height: calc(100% - 80px);
  .cards-container {
    flex: 1;
    display: flex;
    overflow: hidden;
  }
  .description-container {
    flex: 1;
    width: 100%;
    color: #fff;
    display: flex;
    justify-content: center;
  }
}
