.images-container {
  display: grid;
  grid-template-rows: 32%;
  // grid-template-rows:
  border: 1px solid red;

  .image-wrapper {
    padding: 10px;
    border: 1px solid blue;

    .image {
      width: 80%;
        & img {
          width: 100%;
        }
    }

    .image-desc {
      & span {
        font-size: 1.1em;
        font-weight: bold;
      }
    }
  }
}
